<link rel="stylesheet" href="styles.css" />
<div class="body">
    
  <section id="about" class="about">
    <h2>Sobre mi</h2>
    <p>Hola, hola! Aqui AleVt, empezando esta pagina web para mostar curiosidades acerca de tecnología, lenguajes de programación, entre otras curiosidades. Asi que empezemos</p>
  </section>

  <section id="latest-posts" class="latest-posts">
    <h2>Ultimo post</h2>
    <p>Por el momento he empezado la pagina, asi que aun no he agregado nada xd.</p>
    <!-- Example of a post -->
    <article>
      <h3>¿Qué es git y como funciona?</h3>
      <p>Proximamente.</p>
    </article>
  </section>

  <section id="projects" class="projects">
    <h2>Mis proyectos</h2>
    <li>
      <a href="templates/html/git.html">Git</a>
    </li>
    <li>Programación Web</li>
    <li>Python</li>

    <!-- Example of a project -->
    <div>
      <h3>Portafolio Web-site interactivo</h3>
      <p>Un portafolio interactivo para mostrar mis conocimientos.</p>
    </div>
  </section>

  <section id="contact" class="contact">
    <h2>Contacto</h2>
    <p>Preguntas:</p>
    <ul>
      <li>
        Github: <a href="https://github.com/alejandrohehheh" target="_blank">alejandrohehheh</a>
      </li>
      <li>
        Youtube: <a href="https://www.youtube.com/@AleVT-ech-nz5yj" target="_blank">AleVT-ech</a>
      </li>
    </ul>
  </section>
</div>

<footer>
  <p>&copy; 2024 AleVt.</p>
</footer>
