<h3>Configuración inicial: </h3>
<p>Iniciamos un nuevo repositorio de Git en un directorio local</p>
    <p></p>
    <div class="code-container">
      <pre>
        <code>
          git init  
        </code>
      </pre>
    </div>


<p>Configuración de nombre y correo electronico: </p>
    <p></p>
    <div class="code-container">
      <pre>
        <code>
          git config --global user.name "Nombre Apellido"
          git config --global user.email "email@ejemplo.com"
        </code>
      </pre>
    </div>
    
    <p>Clona (copia) un repositorio remoto en tu máquina local.: </p>
    <p></p>
    <div class="code-container">
      <pre>
        <code>
          git clone https://github.com/usuario/repo.git

        </code>
      </pre>
    </div>

    <h3>Estado y seguimiento: </h3>
    <p>Con "git status" podemos ver los cambios que se han hecho en los archivos de nuestro repositorio.</p>
    <div class="code-container">
        <pre>
          <code>
            git status
            <img src="../../images/gitStatus.png" alt="Imagen de ejemplo" class="imagen-ejemplo" />
          </code>
        </pre>
      </div>

      <p>Con "git add" podemos añadir archivos cambiado.</p>
      <p><li>"git add nombreArchivo.txt" para actualizar archivos especificos.</li>
    <li>"git add ." para actualizar todos los archivos modificados</li></p>
    <div class="code-container">
        <pre>
          <code>
            git add nombreArchivo.txt 

            git add .
            <img src="../../images/gitAdd.png" alt="Imagen de ejemplo" class="imagen-ejemplo" />
          </code>
        </pre>
      </div>


      <p>Con "git push" podemos subir los cambios al repositorio remoto, en mi caso uso github.</p>
    <div class="code-container">
        <pre>
          <code>
            git commit -m "actualizando mi código"
            <img src="../../images/gitPush.png" alt="Imagen de ejemplo" class="imagen-ejemplo" />
          </code>
        </pre>
      </div>

      <p>Muestra de actualización en github</p>
    <div class="code-container">
        <pre>
          <code>
            <img src="../../images/github.png" alt="Imagen de ejemplo" class="imagen-ejemplo" />
          </code>
        </pre>
      </div>

