<h3>Configuración inicial: </h3>
<p>Iniciamos un nuevo repositorio de Git en un directorio local</p>
    <p></p>
    <div class="code-container">
      <pre>
        <code>
          git init  
        </code>
      </pre>
    </div>


<p>Configuración de nombre y correo electronico: </p>
    <p></p>
    <div class="code-container">
      <pre>
        <code>
          git config --global user.name "Nombre Apellido"
          git config --global user.email "email@ejemplo.com"
        </code>
      </pre>
    </div>
    
    <p>Clona (copia) un repositorio remoto en tu máquina local.: </p>
    <p></p>
    <div class="code-container">
      <pre>
        <code>
          git clone https://github.com/usuario/repo.git

        </code>
      </pre>
    </div>

    <h3>Estado y seguimiento: </h3>

    <div class="code-container">
        <pre>
          <code>
            git status
          </code>
        </pre>
      </div>
      <img src="../images/gitStatus.png alt="Imagen de ejemplo" class="imagen-ejemplo" />
