<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

  body {
      font-family: Arial ;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background-color: #333;
      color: #fff;
  }
  header {
    background-color: #ab46a9;
    background-image: url('../images/headerBckgnd.png');
    background-size: 80% 290%; /* Ajusta la imagen en escala de ancho y alto */
    background-position: left 0%;  /* 80% hacia abajo desde el borde superior */


    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

  header h1 {
      margin: 0;
  }
  nav {
    color: #fff;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;
  }
  nav a {
      color: #fff;
      text-decoration: underline;
      margin: 0 1rem;
  }
  nav a:hover {
    color: #3498db;
      text-decoration: underline;
  }
  .container {
      max-width: 1200px;
      margin: auto;
      padding: 1rem;
      background-color: #21222c;
  }
  .about, .latest-posts, .projects, .contact {
    background-color: #333;
    color:#fff;
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 8px;   
  }
  .linkProjects {
      
  }
  footer {
      text-align: center;
      padding: 1rem 0;
      background: #333;
      color: #fff;
  }
  footer p {
      margin: 0;
  }

  a {
    color: #3498db;
      
  }

  a:hover {
    color: #f935ff;
      
  }
  a:visited {
    color: #f935ff;
      
  }

  a:active {
    color: #f935ff;
      
  }


</style>