<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

  body {
      font-family: Arial ;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background-color: #333;
      color: #fff;
  }
  header {
    background-color: #ab46a9;
    background-image: url('../images/headerBckgnd.png');
    background-size: 80% 290%; /* Ajusta la imagen en escala de ancho y alto */
    background-position: left 0%;  /* 80% hacia abajo desde el borde superior */


    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

  header h1 {
      margin: 0;
  }
  nav {

      display: flex;
      justify-content: center;
      padding: 0.5rem 0;
  }
  nav a {
    
      color: #fff;
      text-decoration: none;
      margin: 0 1rem;
  }
  nav a:hover {
   
      text-decoration: underline;
  }
  .container {
      max-width: 1200px;
      margin: auto;
      padding: 1rem;
      background-color: #21222c;
  }
  .about, .latest-posts, .projects, .contact {
    background-color: #333;
    color:#fff;
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 8px;
      
  }
  footer {
      text-align: center;
      padding: 1rem 0;
      background: #333;
      color: #fff;
  }
  footer p {
      margin: 0;
  }

  /* Estilo de los enlaces no visitados */
a {
  color: #3498db; /* Cambia el color a azul (puedes poner el color que prefieras) */
  text-decoration: none; /* Elimina el subrayado */
}

/* Estilo de los enlaces visitados */
a:visited {
  color: #9b59b6; /* Color para enlaces ya visitados */
}

/* Estilo de los enlaces cuando el ratón pasa sobre ellos */
a:hover {
  color: #e74c3c; /* Cambia a rojo cuando el ratón pasa sobre el enlace */
  text-decoration: underline; /* Agrega subrayado al pasar el ratón */
}

/* Estilo de los enlaces cuando se hace clic */
a:active {
  color: #f39c12; /* Color cuando el enlace está activo (se hace clic) */
}

</style>